{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        .jumbotron {
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: gray;
        }
    </style>
    <div class="jumbotron">
        <h1 class="display-4" align="center"><b>About Us</b></h1>
    </div>
    <div>
        <h3 style="padding-bottom: 10px">Message from Managing Director(M.D)</h3>
        <div style="padding-bottom: 10px">
            <img src="{% static 'images/MD.jpg' %}" align="left" height="150px" width="150px"
                 style="padding-right: 10px">
            <p align="justify">
                Nepal has a high potential of hydropower energy which can overcome the
                problem of energy crisis prevailing in the country and can be energy center
                for Asia.<br/><br/>
                With the government strategy of emphasizing on the full optimization of the hydro energy these days, the
                number of workshop to manufacture and repair the HM parts has been limited .
                To fulfill required need ShreeBalaji Hydro & Engineering Pvt.Ltd. was established focusing on hydropower
                projects, fabrication of parts, erection, repair & maintenance.<br/><br/>
                We have a combination of skilled manpower, modern tools and equipments, highly sophisticated machinery
                and a
                strong financial background. Hence, dealing with the hydropower projects is not cumbersome for us.
                Shreebalaji has successfully completed projects having head ranging from (65-765 mtr.) and is planning
                to
                move on for larger projects. We are specialized in designing, manufacturing, erection and repair of
                hydro-mechanical components and other similar structural works.We are more of a service oriented rather
                than
                profit oriented and I believe Shree Balaji will fulfill your desire with full satisfaction.
            </p>
        </div>
    </div>
    <div>
        <h3 style="padding-bottom: 10px">Mission Statement</h3>
        <p align="justify">
            “Our mission is to develop complete solution for design, fabrication and erection of steel structure
            focusing development of hydropower .’’
        </p>
    </div>
    <div>
        <h3 style="padding-bottom: 10px">Vision Statement</h3>
        <p align="justify">
            Our vision is to be the best hydropower consulting and developing company in Nepal which commits work
            assurance meeting international standard . By 2025 , We will be the strongest market competitive in Civil,
            Hydro-mechanical & Electro-mechanical works.
        </p>
    </div>
    <div>
        <h3 style="padding-bottom: 10px">About Company</h3>
        <p align="justify">
            <b>ShreeBalaji Hydro and Engineering Pvt. Ltd</b> was established in the year 2075 under Companies Act 2006 with
            <b>registration number 189101/74/075 and VAT number 606714822</b>. Established under Private Firm Registered Act
            2014, our company was first registered with the name Shree Balaji Engineering works which was a proprietor
            company with its registration number 40983/1683 and VAT number as 601057621.<br/><br/> The head office of the company
            is located at <b>New Baneshwor, Kathmandu, Nepal</b> . In short this works in the field of Erection of Hydro
            mechanical and Structural Engineering Services since 2013. Our key motive is creating an outstanding
            experience for each and every one of our clients.<br/><br/>

            We provide excellent commitment in field of <b>planning, design, fabrication, installation, quality management
            and testing & commissioning</b>. Our experienced, knowledgeable team can perform detail engineering, fabrication
            and installation of all the hydro-mechanical items and structures such as Headrace and Penstock pipes, Bell
            mouths, Gates and Stop logs, Hoisting, Bends, Trash racks, Bifurcations, Flushing Pipes, Draft Tubes,
            Expansion Joints, etc. We ensure you timely project completion, end-to-end quality management and budget
            control.

        </p>
    </div>
{% endblock %}