{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        .jumbotron {
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: gray;
        }
    </style>
    <div class="jumbotron">
        <h1 class="display-4" align="center"><b>Services</b></h1>
    </div>
    <div>
        <h3 style="padding-bottom: 10px">Services Provided By Company :</h3>
        <p align="justify">
            <strong>Fabrication, Installation and Testing of :
            </strong>
        <ul>
            <li>Penstock pipe & Head race pipe
            </li>
            <li>Bends
            </li>
            <li>Bifurcation
            </li>
            <li>Bell mouth
            </li>
            <li>Expansion Joints
            </li>
            <li>Manhole
            </li>
            <li>Saddle & wear plate
            </li>
            <li>Different types of gates
            </li>
            <li>Gates with its accessories
            </li>
            <li>Stop log with its accessories
            </li>
            <li>Steel truss
            </li>
            <li>Bridge works
            </li>
            <li>Communication Towers
            </li>
            <li>High transmission line towers
                </li>
            <li>Steel Structures Building
            </li>
            <li>General Structures Works
            </li>
        </ul>
        </p>
    </div>
    <div>
        <p align="justify">
            <strong>We have a team of QA/QC to performs the works of HM and other steels works:</strong>
        <ul>
            <li>
                Visual Inspection
            </li>
            <li>Dye Penetrate Test (DPT)
            </li>
            <li>Magnetic Particle Inspection (MPT)
            </li>
            <li>Ultrasonic test (UT)
            </li>
            <li>Radiographic test (X-ray)
            </li>
        </ul>
        <br/>
        Also we have a team of 6G welder, high skilled fitter, fabricator, semi-skilled worker, helper available at any
        time for any steels works.

        </p>

    </div>
{% endblock %}